<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Email</th>
      <th>Username</th>
      <% if user_signed_in? && current_user.isadmin == true %>
        <th>Роль</th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= link_to user.email, user %></td>
        <td><%= user.username %></td>
        <% if user_signed_in? && current_user.isorganization == true %>
          <td>Organization <%= user.isorganization %><td>
        <% end %>

        <% if user_signed_in? && current_user.isadmin == true %>
          <td>Admin <%= user.isadmin %><td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
