<p>ID <%= @user.id %></p>
<p> <%= @user.email %></p>
<p> <%= @user.username %></p>
<br>
<%# Это проверка организации %>
<p>Organization <%= @user.isorganization %></p>
<br>
<%# Это чтобы статус организатора был виден только у организатора  %>
<% if user_signed_in? && current_user.isorganization == true %>
  <p>Organization <%= @user.isorganization %></p>
<% end %>


<%# Это проверка модераторов %>
<p>Moderator <%= @user.ismoderator %></p>
<br>
<%# Это чтобы статус модератора был виден только у модератора  %>
<% if user_signed_in? && current_user.ismoderator == true %>
  <p>Moderator <%= @user.ismoderator %></p>
<% end %>

<%# Это чтобы статус администратора был виден только у администратора  %>
<% if user_signed_in? && current_user.isadmin == true %>
  <p>Admin <%= @user.isadmin %></p>
<% end %>

<br>
<br>

Followers <%= @user.followers.count %>
<br>
Following <%= link_to @user.followees.count, following_path %>
<br>
<br>
In favorites <%= @user.favorites.count %> <%= (@user.favorites.count) == 1 ? 'Post' : 'Posts'%>

<% @posts.each do |post| %>
  <br><%= link_to post.title, post %>
<% end %>
<br>
<br>
<% if user_signed_in? && @user.id == current_user.id %>
    <%= link_to 'Edit Profile', edit_user_registration_path %>
<% elsif user_signed_in? && current_user.followees.include?(@user) %>
    <h5><%= button_to "Unfollow", unfollow_user_path, method: "POST" %></h5>
<% elsif user_signed_in? %>
    <h5><%= button_to "Follow", follow_user_path, method: "POST"  %></h5>
<% else %>
<%# можно добавить кнопку для регистрации или что-нибудь ещё  %>
<% end%>
