<div class="orgaccountpage">

  <div class="importantinfo">
    <div class="image me-3">
       <%= image_tag(@user.image.url, alt: 'Image', :class=> "img-circular") if @user.image? %>
    </div>
    <div class="textinfo">
      <div class="heading">
        <h1><%= @user.firstname %> <%= @user.lastname %></h1>
        <p><%= @user.volinterests %></p>
      </div>
      <p><%= @user.email %></p>
      <p><%= @user.phonenumber %></p>
      <p><%= @user.country %>, г. <%= @user.city %></p>

      <% if @user.volexperience? %>
      <p>Волонтерский опыт: <%= @user.volexperience %></p>
      <% end %>

      <% if @user.education? %>
      <p>Образование: <%= @user.education %></p>
      <% end %>

      <% if @user.interests? %>
      <p>Интересы: <%= @user.interests %></p>
      <% end %>

      <% if @user.vk? %>
      <a><%= @user.vk %></a>
      <% end %>

      <% if @user.facebook? %>
      <a><%= @user.facebook %></a>
      <% end %>

      <% if @user.instagram? %>
      <a><%= @user.instagram %></a>
      <% end %>

      <% if @user.emptype? %>
      <p>Тип занятости: <%= @user.emptype %></p>
      <% end %>

      <% if @user.workplace? %>
      <p>Место работы: <%= @user.workplace %></p>
      <% end %>

      <% if @user.position? %>
      <p>Должность: <%= @user.position %></p>
      <% end %>

    </div>
    <div class="buttons">
      <% if user_signed_in? && @user.id == current_user.id %>
          <%= link_to 'Настройки профиля', edit_user_registration_path %>

    <%= button_to "Удалить аккаунт", registration_path("user"), data: { confirm: "Вы уверены, что хотите удалить аккаунт? Вы больше не сможете пользоваться всеми возможностями «Добрых дел».?" }, method: :delete %>
    <%= button_to 'Выйти', destroy_organization_session_path, :method => :delete %>
    <% end %>

    </div>
</div>

<div class="line"></div>

<div class="orgevents">
  <h2>Заявки на добрые дела</h2>

  <!-- <%= @user.requests.count %> <%= (@user.requests.count) == 1 ? 'Заявка' : 'Заявок'%> -->

</div>

<% if @user.requests.count == 0  %>
<div class="emptyaccount">
  <p>Здесь пока ничего нет — скорее откликнитесь на интересное дело 😊</p>
</div>
<% end %>


<div class="allcases">
<% @user.requests.each do |request| %>

<div class="editdeletecardcase">

<div class="cardcase">
  <%= link_to request.event do %>
  <div class="image">
    <%= image_tag request.event.image.url if request.event.image?%>
  </div>
  <div class="name">
    <div class="casename">
      <h2><%= request.event.title %></h2>
    </div>
    <p><%= request.event.name %></p>
    <div class="">
      <p><%= Organization.find(request.event.organization_id).orgname %></p>
</div>

  </div>
  <div class="type">
    <div class="typetext">
      <div class="filter">
        <span><%= request.event.sphere.name %></span>
      </div>
      <div class="timetype">
        <p><%= request.event.type.name %>&nbsp;&nbsp;·&nbsp;&nbsp; </p>
        <p><%= request.event.duration %></p>
      </div>
    </div>
    <div class="icon">



    </div>
  </div>


<% end %>
</div>


</div>

<% end %>
</div>

<div class="orgevents">
  <h2>Избранное</h2>
<!-- <%= @user.favorites.count %> <%= (@user.favorites.count) == 1 ? 'Дело' : 'Дела'%> -->
</div>

<% if @user.favorites.count == 0  %>
<div class="emptyaccount">
  <p>Здесь пока ничего нет — скорее заберите себе интересное дело в избранное 😊</p>
</div>
<% end %>

<div class="allcases">
<% @events.each do |event| %>

<div class="editdeletecardcase">

<div class="cardcase">
  <%= link_to event do %>
  <div class="image">
    <%= image_tag event.image.url if event.image?%>
  </div>
  <div class="name">
    <div class="casename">
      <h2><%= event.title %></h2>
    </div>
    <p><%= event.name %></p>
    <div class="">
      <p><%= Organization.find(event.organization_id).orgname %></p>
</div>

  </div>
  <div class="type">
    <div class="typetext">
      <div class="filter">
        <span><%= event.sphere.name %></span>
      </div>
      <div class="timetype">
        <p><%= event.type.name %>&nbsp;&nbsp;·&nbsp;&nbsp; </p>
        <p><%= event.duration %></p>
      </div>
    </div>
    <div class="icon">

      <% if user_signed_in? == true %>

      <% pre_favorite = event.favorites.find { |favorite| favorite.user_id == current_user.id} %>
      <% if pre_favorite %>
      <%= link_to 'Rem', event_favorite_path(event, pre_favorite), method: :delete, class: "favouriteremove" %>
      <svg width="21" height="27" viewBox="0 0 21 27" fill="#03195A" xmlns="http://www.w3.org/2000/svg">
      <path d="M1 0.999999L20 1V24.8998L11.7607 18.2093C11.0261 17.6127 9.9739 17.6127 9.23925 18.2093L1 24.8998L1 0.999999Z" stroke="#03195A" stroke-width="2"/></svg>


      <% else %>
      <%= link_to 'Add', event_favorites_path(event), method: :event, class: "favouriteadd" %>

      <svg width="21" height="27" viewBox="0 0 21 27" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M1 0.999999L20 1V24.8998L11.7607 18.2093C11.0261 17.6127 9.9739 17.6127 9.23925 18.2093L1 24.8998L1 0.999999Z" stroke="#03195A" stroke-width="2"/></svg>

      <% end %>

      <% end %>


    </div>
  </div>

  <% if user_signed_in? && current_user.isadmin == true %>
  <%= link_to 'Показать', event %>
  <%= link_to 'Редактировать', edit_event_path(event) %>
  <%= link_to 'Удалить', event, method: :delete, data: { confirm: 'Вы уверены?' } %>
  <% end %>

<% end %>
</div>

<div class="editdeletelinks">
  <% if organization_signed_in?  %>
  <%= link_to 'Редактировать', edit_event_path(event) %>
  <%= link_to 'Удалить', event, method: :delete, data: { confirm: 'Вы уверены?' } %>
  <% end %>
</div>

</div>

<% end %>
</div>

<div class="orgevents">
  <h2>Подписки</h2>

  <% @user.organizations.each do |organization| %>
    <%= link_to organization.orgname, organization_path(organization) %>
    <%= image_tag(organization.image.url, alt: 'Image', :size => "180x180", :crop => :fill) if organization.image? %>

  <% end %>

</div>


</div>








<%# Это проверка модераторов %>
<%# Это чтобы статус модератора был виден только у модератора  %>
<% if user_signed_in? && current_user.ismoderator == true %>
<div class="account">
    <h1>Аккаунт модератора</h1>
    <h2>Новости</h2>
    <h3>Неопубликованные новости</h3>
    <h3>Опубликованные новости</h3>
    <h2>Дела</h2>
    <h3>Неопубликованные дела</h3>
    <h3>Опубликованные дела</h3>
    <h2>Проверка организаций</h2>
    <h3>Непроверенные организации</h3>
    <h3>Проверенные организации</h3>
</div>
<% end %>


<%# Это чтобы статус администратора был виден только у администратора  %>
<% if user_signed_in? && current_user.isadmin == true %>
<div class="account">
    <h1>Аккаунт администратора</h1>
    <h2>Пользователи</h2>
    <%= render "users/users" %>

    <div class="">
          <h2>Категории и фильтры</h2>
          <%= render "users/categories" %>
    </div>

</div>

<% end %>


<div>
    <%= react_component 'S_Footer' %>
</div>
