<% set_meta_tags title: @event.title %>

<p id="notice"><%= notice %></p>

<div class="eventshow">
  <div class="navigationlink">
    <svg width="9" height="15" viewBox="0 0 9 15" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M8 1L1 7.5L8 14" stroke="#03195A" stroke-opacity="0.8" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
    <a href="/events">Назад к делам</a>
  </div>

  <div class="">
    <p><%= Organization.find(event.organization_id).orgname %></p>
  </div>

  <div class="cardview">
    <div class="case">
      <div class="text">
        <h2><%= @event.title %></h2>
        <p><%= @event.description %></p>
      </div>
      <div class="icon">

        <% if user_signed_in? == true %>

        <% pre_favorite = @event.favorites.find { |favorite| favorite.user_id == current_user.id} %>
        <% if pre_favorite %>
        <%= link_to 'Rem', event_favorite_path(@event, pre_favorite), method: :delete, class: "favouriteremove" %>
        <svg width="30" height="35" viewBox="0 0 30 35" fill="#03195A" xmlns="http://www.w3.org/2000/svg">
        <path d="M1 1L29 1L29 33.021L16.1864 23.5794C15.4809 23.0596 14.5191 23.0596 13.8136 23.5794L0.999999 33.021L1 1Z" stroke="#03195A" stroke-width="2"/>
        </svg>

        <% else %>
        <%= link_to 'Add', event_favorites_path(@event), method: :event, class: "favouriteadd" %>

        <svg width="30" height="35" viewBox="0 0 30 35" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1 1L29 1L29 33.021L16.1864 23.5794C15.4809 23.0596 14.5191 23.0596 13.8136 23.5794L0.999999 33.021L1 1Z" stroke="#03195A" stroke-width="2"/>
        </svg>

        <% end %>

        <% end %>

      </div>
    </div>
    <div class="main">
      <div class="img"><%= image_tag(@event.image.url, alt: 'Image') if @event.image? %></div>
      <div class="application">
        <div class="cardorg">
          <p><%= @event.name if @event.name? %></p>
        </div>
        <div class="groupnewsdata">
          <div class="category">
            <span class="catlink"><%= @event.sphere.name %></span>
          </div>
          <div class="skill">
            <span class="catlink"><%= @event.skill.name %></span>
          </div>
          <p><%= @event.type.name %>&nbsp;&nbsp;·&nbsp;&nbsp; <%= @event.duration %></p>
          <span class="data"><%= @event.created_at.strftime("%d/%m/%Y") %></span>
          </div>
        <button>Подать заявку</button>
      </div>
    </div>
  </div>

  <div class="line"></div>

  <div class="more">
    <div class="details">
      <h2>Детали</h2>
      <div class="content">
        <p><%= @event.details.html_safe %></p>

      </div>
    </div>

    <div class="plan">
      <h2>План дела</h2>
      <div class="content">
        <p><%= @event.plan.html_safe %></p>

      </div>
    </div>

    <div class="organizer">
      <h2>Об организаторе</h2>
      <div class="content">
        <p><%= @event.organizer.html_safe %></p>
      </div>
    </div>
  </div>

  <div class="line"></div>

</div>



<% if user_signed_in? && current_user.ismoderator == true %>
<%= link_to 'Edit', edit_post_path(@post) %>
<% end %>

<% if user_signed_in? && current_user.isadmin == true %>
<%= link_to 'Edit', edit_post_path(@post) %>
<%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

<div class="anotherevents">
  <h2 class="another">Еще дела</h2>
  <%= render 'otherevents', event: @event %>
</div>


<div>
    <%= react_component 'S_Footer' %>
</div>
