<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Сфера волонтерства:</strong>
  <%= @event.sphere.name %>
</p>

<p>
  <strong>skill:</strong>
  <%= @event.skill.name %>
</p>

<p>
  <strong>type:</strong>
  <%= @event.type.name %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @event.duration %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Details:</strong>
  <%= @event.details %>
</p>

<p>
  <strong>Plan:</strong>
  <%= @event.plan %>
</p>

<p>
  <strong>Organizer:</strong>
  <%= @event.organizer %>
</p>

<p>
  <strong>Image:</strong>
  <%= @event.image %>
</p>

<% pre_favorite = @event.favorites.find { |favorite| favorite.user_id == current_user.id} %>
<% if pre_favorite %>
    <%= button_to 'Remove from Favorite', event_favorite_path(@event, pre_favorite), method: :delete %>
<% else %>
    <%= button_to 'Add to Favorite', event_favorites_path(@event), method: :event %>
<% end %>

<% if user_signed_in? && current_user.ismoderator == true %>
<%= link_to 'Edit', edit_post_path(@post) %>
<% end %>

<% if user_signed_in? && current_user.isadmin == true %>
<%= link_to 'Edit', edit_post_path(@post) %>
<%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

<%= link_to 'Back', events_path %>
