<div class="postform">
  <div class="navigationlink">
    <svg width="9" height="15" viewBox="0 0 9 15" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M8 1L1 7.5L8 14" stroke="#03195A" stroke-opacity="0.8" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
    <%= link_to 'Назад', current_organization %>
  </div>

  <h1>Настройки профиля</h1>

</div>

<div class="usersettings">
  <div class="formnews">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "organizations/shared/error_messages", resource: resource %>

      <h2>Редактирование профиля организации</h2>
      <p>Ваш аватар — одна из определяющих частей вашего профиля. Используйте логотип или фотографию.<br>Это поможет организаторам составить впечатление о вас.</p>


      <div class="image">
        <%= f.label "Аватар" %>
        <%= f.file_field :image, class: "form-control border_color rounded" %>
      </div>


      <div class="title">
        <%= f.label "Название организации" %><br />
        <%= f.text_field :orgname, autofocus: true, autocomplete: "orgname" %>
      </div>

      <div class="title">
        <%= f.label "E-mail организации" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="title">
        <%= f.label "Новый пароль" %> <i></i><br />
        <%= f.password_field :password, autocomplete: "new-password" %>
        <% if @minimum_password_length %>

        <% end %>
      </div>

      <div class="title">
            <%= f.label "Повторите новый пароль" %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
          </div>

      <div class="title">
        <%= f.label "Номер телефона для связи" %><br />
        <%= f.text_field :phonenumber, autofocus: true, autocomplete: "phonenumber" %>
      </div>

      <div class="title">
        <%= f.label "Страна" %><br />
        <%= f.text_field :country, autofocus: true, autocomplete: "country" %>
      </div>

      <div class="title">
        <%= f.label "Город" %><br />
        <%= f.text_field :city, autofocus: true, autocomplete: "city" %>
      </div>

      <h2>Сфера волонтерства</h2>

      <div class="title">
        <%= f.label "Сфера волонтерства" %><br />
        <%= f.text_field :role, autofocus: true, autocomplete: "role" %>>
      </div>

      <h2>Подробная информация</h2>

      <div class="title">
        <%= f.label "Цели и миссия" %><br />
        <%= f.text_field :mission, autofocus: true, autocomplete: "mission" %>
      </div>

      <div class="title">
        <%= f.label "Website" %><br />
        <%= f.text_field :website, autofocus: true, autocomplete: "website" %>
      </div>

      <div class="title">
        <%= f.label "Вконтакте" %><br />
        <%= f.text_field :vk, autofocus: true, autocomplete: "vk" %>
      </div>

      <div class="title">
        <%= f.label "Facebook" %><br />
        <%= f.text_field :facebook, autofocus: true, autocomplete: "facebook" %>
      </div>

      <div class="title">
        <%= f.label "Instagram" %><br />
        <%= f.text_field :instagram, autofocus: true, autocomplete: "instagram" %>
      </div>

      <div class="title">
        <%= f.label "Youtube" %><br />
        <%= f.text_field :youtube, autofocus: true, autocomplete: "youtube" %>
      </div>

      <div class="title">
        <%= f.label "Одноклассники" %><br />
        <%= f.text_field :ok, autofocus: true, autocomplete: "ok" %>
      </div>

      <h2>Официальные документы</h2>

      <div class="orgreg5">
        <div class="accountlogin">
          <div class="orgdocuments">
            <div class="field">
              <%= f.label "Документ о регистрации НКО" %>
              <%= f.file_field :registrationdoc, autofocus: true, autocomplete: "registrationdoc" %>
            </div>
            <div class="field">
              <%= f.label "Сведения об учредителях — копии паспортов и ИНН" %>
              <%= f.file_field :foundersdoc, autofocus: true, autocomplete: "foundersdoc" %>
            </div>
            <div class="field">
              <%= f.label "Учредительные документы некоммерческой организации" %>
              <%= f.file_field :nonprofdoc, autofocus: true, autocomplete: "nonprofdoc" %>
            </div>
          </div>
        </div>
      </div>

      <h2>Подтвердите изменения, используя пароль</h2>

      <div class="title">
        <%= f.label "Текущий пароль" %> <br />
        <%= f.password_field :current_password, autocomplete: "current-password" %>
      </div>

      <div class="actions">
        <%= f.submit "Изменить" %>
      </div>
    <% end %>



  </div>

</div>

<div>
    <%= react_component 'S_Footer' %>
</div>
