<%= link_to "Back", :back %>
<h1>Настройки профиля</h1>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "organizations/shared/error_messages", resource: resource %>

  <h2>Редактирование профиля организации</h2>

  <div class="field">
    <%= f.label "Аватар" %>
    <%= f.file_field :image, class: "form-control border_color rounded" %>
  </div>

  <div class="field">
    <%= f.label "Название организации" %><br />
    <%= f.text_field :orgname, autofocus: true, autocomplete: "orgname" %>
  </div>

  <div class="field">
    <%= f.label "E-mail организации" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "Новый пароль" %>
  </div>

  <div class="field">
    <%= f.label "Номер телефона для связи" %><br />
    <%= f.text_field :phonenumb, autofocus: true, autocomplete: "phonenumb" %>
  </div>

  <div class="field">
    <%= f.label "Выбрать страну" %><br />
    <%= f.text_field :country, autofocus: true, autocomplete: "country" %>
  </div>

  <div class="field">
    <%= f.label "Город" %><br />
    <%= f.text_field :city, autofocus: true, autocomplete: "city" %>
  </div>

  <h2>Сфера волонтерства</h2>

  <div class="field">
    <%= f.label "Выберите хотя бы одну тему волонтерства, которая вам интересна👇" %><br />
    <%= f.text_field :role, autofocus: true, autocomplete: "role" %>
  </div>

  <h2>Подробная информация</h2>

  <div class="field">
    <%= f.label "Цели и миссия" %><br />
    <%= f.text_field :mission, autofocus: true, autocomplete: "mission" %>
  </div>

  <div class="field">
    <%= f.label "Website" %><br />
    <%= f.text_field :website, autofocus: true, autocomplete: "website" %>
  </div>

  <div class="field">
    <%= f.label "Вконтакте" %><br />
    <%= f.text_field :vk, autofocus: true, autocomplete: "vk" %>
  </div>

  <div class="field">
    <%= f.label "Facebook" %><br />
    <%= f.text_field :facebook, autofocus: true, autocomplete: "facebook" %>
  </div>

  <div class="field">
    <%= f.label "Instagram" %><br />
    <%= f.text_field :instagram, autofocus: true, autocomplete: "instagram" %>
  </div>

  <div class="field">
    <%= f.label "Youtube" %><br />
    <%= f.text_field :youtube, autofocus: true, autocomplete: "youtube" %>
  </div>

  <div class="field">
    <%= f.label "Одноклассники" %><br />
    <%= f.text_field :ok, autofocus: true, autocomplete: "ok" %>
  </div>

  <h2>Официальные документы</h2>

  <div class="field">
    <%= f.label "Документ о регистрации НКО" %><br />
    <%= f.file_field :registrationdoc, autofocus: true, autocomplete: "registrationdoc" %>
  </div>

  <div class="field">
    <%= f.label "Сведения об учредителях — копии паспортов и ИНН" %><br />
    <%= f.file_field :foundersdoc, autofocus: true, autocomplete: "foundersdoc" %>
  </div>

  <div class="field">
    <%= f.label "Учредительные документы некоммерческой организации" %><br />
    <%= f.file_field :nonprofdoc, autofocus: true, autocomplete: "nonprofdoc" %>
  </div>

  <h2>Подтвердите изменения, используя пароль</h2>

  <div class="field">
    <%= f.label :current_password %> <br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Изменить" %>
  </div>
<% end %>

<h2>Управление уведомлениями</h2>
