<% set_meta_tags title: 'Новости', description: 'Последние новости Добрых дел — актуальное из мира волонтерства'%>
<% set_meta_tags og: {title: ['Новости']}  %>



<div class="newsobjects">
<img src="/images/news1.svg" alt="" class="newsobject"></img>
<img src="/images/news2.svg" alt="" class="newsobject"></img>
<img src="/images/news3.svg" alt="" class="newsobject"></img>
</div>


<div class="category">
  <% Category.all.each do |cat| %>
  <%= link_to cat.name, request.params.merge(category: cat.id), class: "catlink" %><% end %>
  <%= link_to "Сбросить", posts_path, class: "resetlink" %>
</div>

<div class="allnews">
<% @posts.each do |post| %>
  <div class="NewsL">
    <div class="IMAGE"><%= image_tag post.image.url if post.image?%></div>
    <div class="TEXT">
    <h2><%= link_to post.title, post, class: "postlink" %></h2>
    <div>
      <div class="FILTER">
        <span class="catlink"><%= post.category.name %></span>
      </div>
    <span class="data"><%= post.created_at.strftime("%d/%m/%Y") %></span>
    </div>
    </div>

    <div class="adminlinks">


      <% if user_signed_in? && current_user.isadmin == true %>
      <%= link_to 'Редактировать', edit_post_path(post) %>
      <%= link_to 'Удалить', post, method: :delete, data: { confirm: 'Вы уверены?' } %>
      <% end %>

    </div>

    <div class="line"></div>
  </div>
  <% end %>
</div>



<% if user_signed_in? && current_user.isadmin == true %>
<%= link_to 'Создать новость', new_post_path %>
<br>
<%= link_to 'Добавить категорию', new_category_path %>
<% end %>

<div>
    <%= react_component 'S_Footer' %>
</div>
