<p id="notice"><%= notice %></p>

<div class="top_nav">
  <p>
    <%= link_to promo_path do %> добрые<br />дела<br />на сегодня<br /><% end %>
  </p>
  <p class="nav_post"><%= link_to about_path do %> о проекте <% end %></p>
</div>

<table>
  <thead>
    <tr>
      <!-- <th>Name</th>
      <th>Image</th>
      <th>Title</th>
      <th>Date</th>
      <th>Content</th>
      <th colspan="3"></th> -->
    </tr>
  </thead>

  <tbody class="all_post_body">
    <h2>All Categories</h2>
    <% Category.all.each do |cat| %>
    <%= link_to cat.name, posts_path(category: cat.name) %> <br>
    <% end %>
    <br>

    <h2>Posts</h2>
    <% @posts.each do |post| %>
      <tr class="post_body">

        <div class="image">
          <td class="img"><%= image_tag post.image.url if post.image? %></td>
        </div>

        <div class="text_body">

          <div class="tag_body">
            <td class="tag"><a><%= post.name %></a></td>
          </div>

          <td><%= post.category.name %></td>

          <td class="title"><%= post.title %></td>

          <td><%= post.content.html_safe %></td>

          <div class="date_editing">
            <td class="date"><%= post.date %> <span></span> <%= link_to 'show', post %> <span></span> <%= link_to 'edit', edit_post_path(post) %> <span></span> <%= link_to 'destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </div>

          <td><%= link_to 'Show', post %></td>

          <td><%= link_to 'Edit', edit_post_path(post) %></td>

          <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>

        </div>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
<br>
<%= link_to 'New Category', new_category_path %>
