<% set_meta_tags title: 'Новости', description: 'Последние новости Добрых дел — актуальное из мира волонтерства'%>
<% set_meta_tags og: {title: ['Новости']}  %>

<p id="notice"><%= notice %></p>


<div class="category">
  <% Category.all.each do |cat| %>
  <%= link_to cat.name, request.params.merge(category: cat.id), class: "catlink" %><% end %>
  <%= link_to "Сбросить", posts_path, class: "resetlink" %>
</div>


<table>
    <% @posts.each do |post| %>
      <tr class="post_body">

        <div class="image">
          <td class="img"><%= image_tag post.image.url if post.image? %></td>
        </div>

        <div class="text_body">

          <div class="tag_body">
            <td class="tag"><a><%= post.name %></a></td>
          </div>

          <td><%= post.category.name %></td>

          <td class="title"><%= post.title %></td>

          <td><%= post.content.html_safe %></td>

          <div class="date_editing">
            <td class="date"><%= post.date %> <br> <%= link_to 'show', post %> <br><%= link_to 'edit', edit_post_path(post) %> <br><%= link_to 'destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </div>

          <td><%= link_to 'Show', post %></td>
          <br>

          <td><%= link_to 'Edit', edit_post_path(post) %></td>
          <br>

          <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>

        </div>
      </tr>
    <% end %>
</table>

<br>

<%= link_to 'Создать новость', new_post_path %>
<br>
<%= link_to 'Добавить категорию', new_category_path %>

<div>
    <%= react_component 'S_Footer' %>
</div>
