<p id="notice"><%= notice %></p>

<div class="top_nav">
  <p>
    <%= link_to promo_path do %> добрые<br />дела<br />на сегодня<br /><% end %>
  </p>
  <p class="nav_post"><%= link_to about_path do %> о проекте <% end %></p>
</div>

<table>
  <thead>
    <tr>
      <!-- <th>Name</th>
      <th>Image</th>
      <th>Title</th>
      <th>Date</th>
      <th>Content</th>
      <th colspan="3"></th> -->
    </tr>
  </thead>

  <tbody class="all_post_body">
    <% @posts.each do |post| %>
      <tr class="post_body">
        <div class="image">
          <td><%= image_tag post.image.url if post.image? %></td>
        </div>
        <div class="text_body">
          <div class="tag_body">
            <td class="tag"><%= post.name %></td>
          </div>
          <td class="title"><%= post.title %></td>
          <td class="content"><%= post.content %></td>
          <div class="date_editing">
            <td class="date"><%= post.date %></td>
            <td class="editing"><%= link_to 'show', post %></td>
            <td class="editing"><%= link_to 'edit', edit_post_path(post) %></td>
            <td class="editing"><%= link_to 'destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </div>
        </div>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
