<p id="notice"><%= notice %></p>


<div class="post_show">
  <%= image_tag(@post.image.url, alt: 'Image') if @post.image? %>
  <p class="tag">
    <!-- <strong>Name:</strong> -->
    <%= @post.name %>
  </p>

  <p class="title">
    <!-- <strong>Title:</strong> -->
    <%= @post.title %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= @post.category.name %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= @post.content.html_safe %>
  </p>

  <p class="date">
  	<!-- <strong>Date:</strong> -->
  	<%= @post.date %>
  </p>

  <% pre_favorite = @post.favorites.find { |favorite| favorite.user_id == current_user.id} %>
  <% if pre_favorite %>
      <%= button_to 'Remove from Favorite', post_favorite_path(@post, pre_favorite), method: :delete %>
  <% else %>
      <%= button_to 'Add to Favorite', post_favorites_path(@post), method: :post %>
  <% end %>

  <% if user_signed_in? %>
  <%= render "comments/form" %>
  <% else %>
  <p>Please <%= link_to 'login', new_user_session_path %> or <%= link_to 'register', new_user_registration_path %> to comment.</p>
  <% end %>
</div>
