<p id="notice"><%= notice %></p>


<div class="post_show">
  <%= image_tag(@post.image.url, alt: 'Image') if @post.image? %>
  <p class="tag">
    <!-- <strong>Name:</strong> -->
    <%= @post.name %>
  </p>

  <p class="title">
    <!-- <strong>Title:</strong> -->
    <%= @post.title %>
  </p>

  <p class="content">
    <!-- <strong>Content:</strong> -->
    <%= @post.content %>
  </p>

  <p class="date">
  	<!-- <strong>Date:</strong> -->
  	<%= @post.date %>
  </p>

  <p class="editing"><%= link_to 'edit', edit_post_path(@post) %> |
  <%= link_to 'back', posts_path %></p>
</div>
