<p id="notice"><%= notice %></p>


<div class="post_show">
  <%= image_tag(@post.image.url, alt: 'Image') if @post.image? %>
  <p class="tag">
    <!-- <strong>Name:</strong> -->
    <%= @post.name %>
  </p>

  <p class="title">
    <!-- <strong>Title:</strong> -->
    <%= @post.title %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= @post.category.name %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= @post.content.html_safe %>
  </p>

  <p class="date">
  	<!-- <strong>Date:</strong> -->
  	<%= @post.date %>
  </p>

  <% if user_signed_in? %>
  <%= render "comments/form" %>
  <% else %>
  <p>Please <%= link_to 'login', new_user_session_path %> or <%= link_to 'register', new_user_registration_path %> to comment.</p>
  <% end %>
</div>
