<div class="">
  <div class="image me-3">
     <%= image_tag(@organization.image.url, alt: 'Image', :size => "180x180", :crop => :fill) if @organization.image? %>
  </div>
  <h1><%= @organization.orgname %></h1>
  <p><%= @organization.role %></p>

  <p><%= @organization.email %></p>
  <p><%= @organization.phonenumb %></p>
  <p><%= @organization.country %>, г. <%= @organization.city %></p>
  <br>
  <p><%= @organization.mission %></p>
  <p><%= @organization.website %></p>
  <p><%= @organization.vk %></p>
  <p><%= @organization.facebook %></p>
  <p><%= @organization.instagram %></p>
  <p><%= @organization.ok %></p>
</div>
<br>
<h2>Новости от организатора</h2>
<%= link_to 'Разместить новость', new_post_path %>
<br>
<br>
<h2>Дела от организатора</h2>
<%= link_to 'Разместить дело', new_event_path %>
<%= @organization.events.count %> <%= (@organization.events.count) == 1 ? 'Дело' : 'Дел'%>
<% @events.each do |event| %>
  <br><%= link_to event.title, event %>
<% end %>
<br>
<br>
<% if organization_signed_in? && @organization.id == current_organization.id %>
<p><%= link_to 'Настройки профиля', edit_organization_registration_path %></p>
<% end %>

<p> <%= button_to "Удалить аккаунт", registration_path(current_organization), data: { confirm: "Вы уверены, что хотите удалить аккаунт? Вы больше не сможете пользоваться всеми возможностями «Добрых дел».?" }, method: :delete %></p>
<p><%= button_to 'Выйти', destroy_organization_session_path, :method => :delete %></p>
