<!DOCTYPE html>
<html>
  <head>
    <%= display_meta_tags(default_meta_tags) %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag Ckeditor.cdn_url %>

    <meta name="og:image" content="http://dobryedela.herokuapp.com/images/dobryedelaimage.png">
  </head>

  <body>

    <div>
    <% if user_signed_in? %>
    <div class="menureg">
      <%= react_component 'O_MenuReg'%>
      <%= link_to current_user do %>
      <div class="avatar">
        <%= react_component 'A_IconsAvatar'%>
      </div>
      <% end %>
    </div>
    <% else %>
      <% if organization_signed_in? %>
      <div class="menureg">
        <%= react_component 'O_MenuReg' %>
        <%= link_to current_organization do %>
        <div class="avatar">
          <%= react_component 'A_IconsAvatar'%>
        </div>
        <% end %>
      </div>
      <% else %>
      <%= react_component 'O_Menu' %>
      <% end %>

    <% end %>
  </div>
    <%= yield %>

    <% if user_signed_in? && current_user.isadmin == true %>
    <% if notice %>
      <p class="notice"><%= notice %></p>
    <% elsif alert %>
      <p class="alert"><%= alert %></p>
    <% end %>
    <% end %>
  </body>
</html>
