<!DOCTYPE html>
<html>
  <head>
    <title>Добрые дела</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag Ckeditor.cdn_url %>
  </head>

  <body>
    <% if notice %>
      <p class="notice"><%= notice %></p>
    <% elsif alert %>
      <p class="alert"><%= alert %></p>
    <% end %>

    <div>
    <% if user_signed_in? %>
    <%= react_component 'O_MenuReg' %>
    <% else %>
      <% if organization_signed_in? %>
      <%= react_component 'O_MenuReg' %>
      <% else %>
      <%= react_component 'O_Menu' %>
      <% end %>

    <% end %>
    <% Category.where(display_in_navbar: true).each do |cat| %>
    <%= link_to cat.name, posts_path(category: cat.name) %>
    <% end %>
  </div>
  <div>
      <%= react_component 'P_Main' %>
  </div>
  <div>
      <%= react_component 'S_Footer' %>
  </div>
    <%= yield %>
  </body>
</html>

<% if notice %>
  <%= notice %>
<% end %>
