<!DOCTYPE html>
<html>
  <head>
    <title>Добрые дела</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag Ckeditor.cdn_url %>
  </head>

  <body>
    <% if notice %>
      <p class="notice"><%= notice %></p>
    <% elsif alert %>
      <p class="alert"><%= alert %></p>
    <% end %>
    <%= react_component 'A_Typekit' %>

    <div class="top_menu">
    <% if user_signed_in? %>
      <%= link_to 'Аккаунт', current_user %> | <%= link_to 'Выйти', destroy_user_session_path, :method => :delete %>
    <% else %>
      <%= link_to 'Войти', new_user_session_path %> <%= link_to 'Зарегистрироваться', new_user_registration_path %>
    <% end %>

    <% Category.where(display_in_navbar: true).each do |cat| %>
    <%= link_to cat.name, posts_path(category: cat.name) %>
    <% end %>
  </div>
    <%= yield %>
  </body>
</html>

<% if notice %>
  <%= notice %>
<% end %>
